* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.page {

    margin: 0 auto;
    width: 626px;

    text-align: center;
}

main {
    margin-bottom: 64px;
}

main img {
    margin-top: 64px;
    margin-bottom: 64px;
}

main #text h1 span {

    color: #EE24FF;
}

#text h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: 40px;

    margin: 32px 0px 16px 0px;


}

#text .p {
    font-family: 'Open Sans';

    font-size: 15px;
    line-height: 22px;

    color: #828282;
    text-align: center;

    width: 540px;

    margin: 0 auto;





}

#text .p .dark {
    color: black;
}



footer {


    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 147.68%;


    text-align: center;

    margin-bottom: 40px;


}


footer #line {

    margin: 0 auto;
    margin-bottom: 16px;
    width: 391px;
    height: 0px;


    border: 1px solid #ECEFF2;
}

footer .link {
    display: flex;
    gap: 42px;

    justify-content: center;


}

footer .link a {
    text-decoration: none;
    color: #3F3D56;
}




   
   
   
